@use "./variables" as *;

.mostDemandingCategories {
    padding: 5rem;
    background-color: $senary;
}

.mostDemandingCategoriesHeader {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;

    .headerContainer {
        width: 45%;
        
        h2 {
            position: relative;
            margin: 0;
            font-size: 3rem;
            width: 100%;
            color: $primary;
        }

        .threeLines {
            position: absolute;
            top: -2rem;
            right: 0rem;
        }
    }

    .pContainer {
        width: 45%;
        
        p {
            width: 100%;
        }

        a {
            text-decoration: none;
            color: $quaternary;
            font-weight: 600;
            border-bottom: 2px solid $quaternary;
        }
    }
}


.demandingCategories {
    
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 2rem 0;
        padding: 0;

        a {
            text-decoration: none;
            font-weight: 600;
            font-size: 0.75rem;
            color: $primary;
            font-family: $mon;
            
            li {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                list-style: none;
                background-color: $fontSecondary;
                height: 10rem;
                width: 8rem;
                border-radius: 2rem;
                transition: .5s;
                
                &:hover, &:focus {
                    background-color: $quaternary;
                }
                
                svg {
                    height: 1rem;
                    fill: $primary;
                }
    
                h4 {
                    margin: 0;
                    font-family: $mon;
                }
    
                p {
                    margin: 0;
                    font-size: 0.5rem;
                }
            }
        }
    }
}