$fontPrimary: #0f1620;
$fontSecondary: #f5f5f5;

// Site Colors

$primary: #254135;
$secondary: #31795a;
$tertiary: #e9f2ef;
$quaternary: #d2f34c;
$quinary: #c4c4c4;
$senary: #f2f9d8;

// Font family

$eb: 'EB Garamond', serif;
$mon: 'Montserrat', sans-serif;