html {
  background-color: #f5f5f5;
  font-size: 125%;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 2080px;
}

nav a {
  font-size: 1rem;
}

nav button {
  font-size: clamp(0.5rem, 5vw + 1rem, 1rem);
}

h1 {
  font-family: "EB Garamond", serif;
  font-size: 90px;
  line-height: 1.2;
  letter-spacing: 1.2px;
}

h2 {
  font-family: "EB Garamond", serif;
  font-size: 85px;
  line-height: 1.2;
  letter-spacing: 1.2px;
}

h3 {
  font-family: "EB Garamond", serif;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 1.2px;
}

h4 {
  font-family: "EB Garamond", serif;
  line-height: 1.2;
  letter-spacing: 1.2px;
}

h5 {
  font-family: "EB Garamond", serif;
  line-height: 1.2;
  letter-spacing: 1.2px;
}

h6 {
  font-family: "EB Garamond", serif;
  line-height: 1.2;
  letter-spacing: 1.2px;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  letter-spacing: 1.2;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

nav {
  background-color: #254135;
  display: flex;
  padding: 1rem 0;
  justify-content: space-evenly;
  align-content: center;
}
nav .hamburgerMenu {
  display: none;
}
nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
nav ul .line {
  height: 1rem;
}
nav ul li {
  display: flex;
  padding: 0 0.5rem;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
nav ul li img {
  border: none;
}
nav ul li .categoryButton {
  border: none;
}
nav ul li .categoryButton:hover, nav ul li .categoryButton:focus {
  border: none;
  background-color: #0f1620;
  border-radius: 5rem;
}
nav ul li a {
  color: #f5f5f5;
  text-decoration: none;
  transition: 0.5s;
  display: flex;
  border-bottom: 2px solid #254135;
}
nav ul li a:hover, nav ul li a:focus {
  color: #d2f34c;
  border-bottom: 2px solid #d2f34c;
}
nav ul li button {
  background-color: #d2f34c;
  border: none;
  padding: 0.5rem;
  border-radius: 5rem;
  transition: 0.5s;
}
nav ul li button:hover, nav ul li button:focus {
  background-color: #0f1620;
  color: #f5f5f5;
}
nav ul li .pagesButton {
  background-color: #254135;
  color: #f5f5f5;
  position: relative;
}
nav ul li .pagesButton:hover, nav ul li .pagesButton:focus {
  background-color: #254135;
}
nav ul li .postJobButton {
  background-color: #254135;
  color: #f5f5f5;
  border-bottom: 2px solid #254135;
}
nav ul li .postJobButton:hover, nav ul li .postJobButton:focus {
  color: #d2f34c;
  background-color: #254135;
}
nav ul li .loginButton {
  background-color: #254135;
  color: #d2f34c;
  border-bottom: 2px solid #254135;
  border-radius: 0;
}
nav ul li .loginButton:hover, nav ul li .loginButton:focus {
  color: #d2f34c;
  background-color: #254135;
  border-bottom: 2px solid #d2f34c;
}

header {
  background-color: #254135;
  position: relative;
  padding: 2rem 0;
  height: 65vh;
}
header h1 {
  margin: 0;
  font-size: 3rem;
  width: 45%;
}
header .firstH1 {
  color: #f5f5f5;
  z-index: 10;
}
header .secondH1 {
  color: #d2f34c;
  z-index: 10;
}
header .womanLaptop {
  position: absolute;
  height: 30rem;
  right: 4rem;
  top: 2rem;
  z-index: 2;
  background: #254135;
  background-position: 5rem;
}
header .smallLines {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2.5rem;
}
header .bigLines {
  position: absolute;
  top: 0.5rem;
  right: 5rem;
  height: 30rem;
  z-index: 1;
}
header .formContainer p {
  font-size: 0.75rem;
}
header form {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding-left: 2rem;
  background-color: #e9f2ef;
  z-index: 10;
  height: 4rem;
  border-radius: 0.5rem;
  width: 75%;
}
header form .searchWhatAreYouLookingFor {
  display: flex;
  flex-direction: column;
  width: 40%;
}
header form .searchCategory {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 30%;
}
header form label {
  font-size: 0.75rem;
  color: #c4c4c4;
}
header form input {
  border: none;
  font-family: "Montserrat", sans-serif;
  background-color: #e9f2ef;
}
header form select {
  color: #0f1620;
  font-family: "Montserrat", sans-serif;
  background-color: #e9f2ef;
  border: none;
}
header form button {
  height: 100%;
  border: none;
  width: 23%;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: #d2f34c;
}
header p {
  color: #f5f5f5;
}

.mostDemandingCategories {
  padding: 5rem;
  background-color: #f2f9d8;
  position: relative;
}

.mostDemandingCategoriesHeader {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
.mostDemandingCategoriesHeader .headerContainer {
  width: 45%;
}
.mostDemandingCategoriesHeader .headerContainer h2 {
  position: relative;
  margin: 0;
  font-size: 3rem;
  width: 100%;
  color: #254135;
}
.mostDemandingCategoriesHeader .headerContainer .threeLines {
  position: absolute;
  top: -2rem;
  right: 0rem;
}
.mostDemandingCategoriesHeader .pContainer {
  width: 45%;
}
.mostDemandingCategoriesHeader .pContainer p {
  width: 100%;
}
.mostDemandingCategoriesHeader .pContainer a {
  text-decoration: none;
  color: #d2f34c;
  font-weight: 600;
  border-bottom: 2px solid #d2f34c;
}

.demandingCategories ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2rem 0;
  padding: 0;
}
.demandingCategories ul a {
  text-decoration: none;
  font-weight: 600;
  font-size: 0.75rem;
  color: #254135;
  font-family: "Montserrat", sans-serif;
}
.demandingCategories ul a li {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  background-color: #f5f5f5;
  height: 10rem;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 6rem;
  border-radius: 2rem;
  transition: 0.5s;
  padding: 0 0.5rem;
}
.demandingCategories ul a li:hover, .demandingCategories ul a li:focus {
  background-color: #d2f34c;
}
.demandingCategories ul a li svg {
  height: 1rem;
  fill: #254135;
}
.demandingCategories ul a li h4 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.demandingCategories ul a li p {
  margin: 0;
  font-size: 0.5rem;
}
.demandingCategories .smallLines {
  position: absolute;
  right: 0;
  bottom: 0;
}

.talentedExperts {
  background-color: #ffffff;
}

.talentedExpertsContainer {
  padding: 10rem 0;
  display: flex;
  justify-content: space-between;
}
.talentedExpertsContainer .talentedExpertsImageContainer {
  width: 42.5%;
}
.talentedExpertsContainer .talentedExpertsImageContainer img {
  height: 30rem;
}
.talentedExpertsContainer .talentedExpertsContentContainer {
  width: 42.5%;
}
.talentedExpertsContainer .talentedExpertsContentContainer h2 {
  margin: 0;
  font-size: 3rem;
}
.talentedExpertsContainer .talentedExpertsContentContainer p {
  margin: 2rem 0 0 0;
  font-family: "EB Garamond", serif;
}
.talentedExpertsContainer .talentedExpertsContentContainer ul {
  padding: 1rem;
  margin: 0;
}
.talentedExpertsContainer .talentedExpertsContentContainer ul li {
  font-family: "EB Garamond", serif;
  padding: 0.5rem 0;
  font-weight: 600;
  list-style: circle;
}
.talentedExpertsContainer .talentedExpertsContentContainer button {
  background-color: #d2f34c;
  border: none;
  width: 8rem;
  padding: 0.5rem;
  border-radius: 5rem;
  transition: 0.5s;
}
.talentedExpertsContainer .talentedExpertsContentContainer button:hover, .talentedExpertsContainer .talentedExpertsContentContainer button:focus {
  background-color: #31795a;
  color: #f5f5f5;
}

.howItWorks {
  background-color: #254135;
  padding: 2rem 0;
  position: relative;
}
.howItWorks .howItWorksHeader {
  position: relative;
}
.howItWorks .howItWorksHeader h2 {
  color: #f5f5f5;
  text-align: center;
  position: relative;
  margin: 0;
}
.howItWorks .howItWorksHeader h2 .threeLines {
  position: absolute;
  top: -2rem;
  right: 8rem;
}
.howItWorks .howItWorksContent {
  display: flex;
  flex-direction: row;
}
.howItWorks .howItWorksContent h4 {
  font-weight: 600;
  font-family: "EB Garamond", serif;
}
.howItWorks .howItWorksContent p {
  font-weight: 600;
  font-size: 0.75rem;
  color: #31795a;
}
.howItWorks .howItWorksContent ul {
  padding: 0;
  display: flex;
}
.howItWorks .howItWorksContent ul li {
  list-style: none;
  text-align: center;
  color: #f5f5f5;
}
.howItWorks .howItWorksContent ul .arrowRight {
  height: 1rem;
  align-self: center;
}
.howItWorks .smallBgShape {
  position: absolute;
  top: 0;
  left: 0;
}
.howItWorks .squiggle {
  position: absolute;
  height: 3rem;
  width: 3rem;
  bottom: 1rem;
  right: 1rem;
}

.findTheBestTalentedExpertSection {
  padding: 5rem 0;
  background-color: #ffffff;
}
.findTheBestTalentedExpertSection .findTheBestTalentedExpertSectionHeader {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.findTheBestTalentedExpertSection .findTheBestTalentedExpertSectionHeader h2 {
  font-size: 3rem;
  color: #254135;
  margin: 0;
  width: 60%;
  position: relative;
}
.findTheBestTalentedExpertSection .findTheBestTalentedExpertSectionHeader h2 .shapeDarkGreen {
  position: absolute;
  top: -2.5rem;
  right: 0rem;
}
.findTheBestTalentedExpertSection .findTheBestTalentedExpertSectionHeader .findTheBestTalentedExpertSectionButtons {
  display: flex;
  align-items: flex-end;
}
.findTheBestTalentedExpertSection .findTheBestTalentedExpertSectionHeader .findTheBestTalentedExpertSectionButtons button {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border: none;
  border-radius: 5rem;
  transition: 0.5s;
}
.findTheBestTalentedExpertSection .findTheBestTalentedExpertSectionHeader .findTheBestTalentedExpertSectionButtons button:hover, .findTheBestTalentedExpertSection .findTheBestTalentedExpertSectionHeader .findTheBestTalentedExpertSectionButtons button:focus {
  background-color: #d2f34c;
}
.findTheBestTalentedExpertSection .findTheBestTalentedExpertSectionHeader .findTheBestTalentedExpertSectionButtons button svg {
  fill: #254135;
  height: 0.5rem;
}
.findTheBestTalentedExpertSection ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}
.findTheBestTalentedExpertSection ul li {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  list-style: none;
}
.findTheBestTalentedExpertSection ul li img {
  height: 15rem;
  border-radius: 50rem;
}
.findTheBestTalentedExpertSection ul li h4 {
  margin: 2rem 0 0 0;
}
.findTheBestTalentedExpertSection ul li p {
  margin: 0.5rem 0;
  font-size: 0.75rem;
  font-weight: 400;
  color: #c4c4c4;
}

.trustedByLeadingStartups {
  background-color: #ffffff;
}
.trustedByLeadingStartups .wrapper {
  border-bottom: 1px solid #c4c4c4;
}

.trustedByLeadingStartupsHeader {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.trustedByLeadingStartupsHeader h2 {
  font-size: 3rem;
  color: #254135;
  margin: 0;
  width: 60%;
}
.trustedByLeadingStartupsHeader .trustedByLeadingStartupsButtons {
  display: flex;
  align-items: flex-end;
}
.trustedByLeadingStartupsHeader .trustedByLeadingStartupsButtons button {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border: none;
  border-radius: 5rem;
  transition: 0.5s;
}
.trustedByLeadingStartupsHeader .trustedByLeadingStartupsButtons button:hover, .trustedByLeadingStartupsHeader .trustedByLeadingStartupsButtons button:focus {
  background-color: #d2f34c;
}
.trustedByLeadingStartupsHeader .trustedByLeadingStartupsButtons button svg {
  fill: #254135;
  height: 0.5rem;
}

.trustedByLeadingStartupsList ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.trustedByLeadingStartupsList ul li {
  list-style: none;
  border: 1px solid #0f1620;
  background-color: #f2f9d8;
  border-radius: 1rem;
  width: 49%;
  transition: 0.5s;
  padding: 1rem;
}
.trustedByLeadingStartupsList ul li:hover, .trustedByLeadingStartupsList ul li:focus {
  background-color: #d2f34c;
}
.trustedByLeadingStartupsList ul li h3 {
  font-size: 2rem;
  margin: 0;
}
.trustedByLeadingStartupsList ul li h6 {
  font-weight: 400;
  margin: 2rem 0 1rem 0;
}
.trustedByLeadingStartupsList ul li p {
  font-weight: 600;
}
.trustedByLeadingStartupsList ul li .companyHeading {
  display: flex;
}
.trustedByLeadingStartupsList ul li .lineBreak {
  width: 100%;
}
.trustedByLeadingStartupsList ul li .starRanking {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.logoList {
  margin: 4rem 0 2rem 0;
}
.logoList ul {
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.logoList ul li {
  list-style: none;
}
.logoList ul li img {
  height: 1.5rem;
}

.collaborationWithTopBrandsSection {
  background-color: #ffffff;
  padding: 5rem 0;
}
.collaborationWithTopBrandsSection .collaborationWithTopBrandsContainer {
  display: flex;
  justify-content: space-between;
}
.collaborationWithTopBrandsSection .collaborationWithTopBrandsContainer .collaborationWithTopBrandsImageContainer {
  width: 45%;
}
.collaborationWithTopBrandsSection .collaborationWithTopBrandsContainer .collaborationWithTopBrandsImageContainer img {
  height: 25rem;
}
.collaborationWithTopBrandsSection .collaborationWithTopBrandsContainer .collaborationWithTopBrandsContentContainer {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.collaborationWithTopBrandsSection .collaborationWithTopBrandsContainer .collaborationWithTopBrandsContentContainer h4 {
  color: #c4c4c4;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}
.collaborationWithTopBrandsSection .collaborationWithTopBrandsContainer .collaborationWithTopBrandsContentContainer h2 {
  font-size: 3rem;
  color: #254135;
  margin: 1rem 0;
}
.collaborationWithTopBrandsSection .collaborationWithTopBrandsContainer .collaborationWithTopBrandsContentContainer a {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  text-decoration: none;
  color: #0f1620;
  font-weight: 600;
}
.collaborationWithTopBrandsSection .collaborationWithTopBrandsContainer .collaborationWithTopBrandsContentContainer a p {
  padding: 0 1rem 0 0;
}
.collaborationWithTopBrandsSection .collaborationWithTopBrandsContainer .collaborationWithTopBrandsContentContainer a svg {
  height: 1rem;
  width: 1rem;
  color: black;
  fill: black;
}

.jobiGuidesSection {
  background-color: #ffffff;
  padding: 1rem;
}
.jobiGuidesSection .jobiGuidesHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.jobiGuidesSection .jobiGuidesHeader h2 {
  font-size: 3rem;
  margin: 1rem 0;
  color: #254135;
}
.jobiGuidesSection .jobiGuidesHeader button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d2f34c;
  border: none;
  color: #254135;
  height: 2rem;
  width: 8rem;
  padding: 0.5rem;
  border-radius: 5rem;
  transition: 0.5s;
}
.jobiGuidesSection .jobiGuidesHeader button:hover, .jobiGuidesSection .jobiGuidesHeader button:focus {
  background-color: #31795a;
  color: #f5f5f5;
}
.jobiGuidesSection .jobiGuidesList ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.jobiGuidesSection .jobiGuidesList ul li {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 30%;
}
.jobiGuidesSection .jobiGuidesList ul li img {
  height: 10rem;
}
.jobiGuidesSection .jobiGuidesList ul li h5 {
  font-family: "Montserrat", sans-serif;
  color: #c4c4c4;
  font-weight: 400;
}
.jobiGuidesSection .jobiGuidesList ul li h4 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.jobiGuidesSection .jobiGuidesList ul li h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.matchedJobSection {
  background-color: #ffffff;
  margin: 0;
  padding: 1rem;
}

.matchedJobContainer {
  background-color: #244034;
  display: flex;
  justify-content: center;
  position: relative;
}
.matchedJobContainer .matchedJobImage {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 45%;
}
.matchedJobContainer .matchedJobImage img {
  height: 20rem;
}
.matchedJobContainer .matchedJobContentContainer {
  margin: 2.5rem 0;
  display: flex;
  flex-direction: column;
  width: 35%;
}
.matchedJobContainer .matchedJobContentContainer h2 {
  font-size: 2.5rem;
  color: #f5f5f5;
  margin: 1rem 0 0 0;
}
.matchedJobContainer .matchedJobContentContainer h2 span {
  color: #d2f34c;
}
.matchedJobContainer .matchedJobContentContainer p {
  color: #31795a;
  font-family: "EB Garamond", serif;
}
.matchedJobContainer .matchedJobContentContainer button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d2f34c;
  border: none;
  color: #0f1620;
  height: 2rem;
  width: 10rem;
  padding: 1rem;
  border-radius: 0.25rem;
  transition: 0.5s;
}
.matchedJobContainer .matchedJobContentContainer button svg {
  height: 1rem;
  padding: 0 1rem 0 0;
  transition: 0.5s;
}
.matchedJobContainer .matchedJobContentContainer button p {
  color: #0f1620;
  font-size: 0.75rem;
  font-weight: 600;
  transition: 0.5s;
}
.matchedJobContainer .matchedJobContentContainer button:hover, .matchedJobContainer .matchedJobContentContainer button:focus {
  background-color: #31795a;
}
.matchedJobContainer .matchedJobContentContainer button:hover svg, .matchedJobContainer .matchedJobContentContainer button:focus svg {
  fill: #f5f5f5;
}
.matchedJobContainer .matchedJobContentContainer button:hover p, .matchedJobContainer .matchedJobContentContainer button:focus p {
  color: #f5f5f5;
}
.matchedJobContainer .smallQuarterCircle {
  position: absolute;
  top: 0;
  left: 0;
}
.matchedJobContainer .bigQuarterCircle {
  position: absolute;
  bottom: 0;
  right: 0;
}
.matchedJobContainer .squareLines {
  position: absolute;
  right: -2.75rem;
  top: -2.75rem;
}

.mustCompleteJobPortalSection {
  background-color: #ffffff;
  padding: 2rem 0;
}
.mustCompleteJobPortalSection .wrapper {
  border-bottom: 1px solid #c4c4c4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.mustCompleteJobPortalSection .wrapper .mustCompleteJobPortalHeader {
  width: 65%;
}
.mustCompleteJobPortalSection .wrapper .mustCompleteJobPortalHeader h2 {
  font-size: 2rem;
  margin: 0;
}
.mustCompleteJobPortalSection .wrapper .mustCompleteJobPortalHeader p {
  font-size: 0.75rem;
  color: #c4c4c4;
}
.mustCompleteJobPortalSection .wrapper .mustCompleteJobPortalButtons {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.mustCompleteJobPortalSection .wrapper .mustCompleteJobPortalButtons .mustCompleteJobPortalButton1 {
  width: 60%;
  font-size: 0.75rem;
  padding: 0 0.75rem;
  background-color: #ffffff;
  border: 2px solid #254135;
  color: #254135;
  border-radius: 0.25rem;
  transition: 0.5s;
  font-weight: 600;
}
.mustCompleteJobPortalSection .wrapper .mustCompleteJobPortalButtons .mustCompleteJobPortalButton1:hover, .mustCompleteJobPortalSection .wrapper .mustCompleteJobPortalButtons .mustCompleteJobPortalButton1:focus {
  background-color: #d2f34c;
}
.mustCompleteJobPortalSection .wrapper .mustCompleteJobPortalButtons .mustCompleteJobPortalButton2 {
  width: 35%;
  font-size: 0.75rem;
  padding: 0.75rem;
  background-color: #d2f34c;
  border: none;
  border-radius: 0.25rem;
  color: #254135;
  transition: 0.5s;
  font-weight: 600;
}
.mustCompleteJobPortalSection .wrapper .mustCompleteJobPortalButtons .mustCompleteJobPortalButton2:hover, .mustCompleteJobPortalSection .wrapper .mustCompleteJobPortalButtons .mustCompleteJobPortalButton2:focus {
  background-color: #254135;
  color: #f5f5f5;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
footer .footerLists {
  width: 100%;
  position: relative;
}
footer .footerLists ul {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
  flex-direction: row;
  padding: 0;
}
footer .footerLists ul li {
  display: flex;
  flex-direction: column;
  list-style: none;
}
footer .footerLists ul li img {
  height: 1.75rem;
}
footer .footerLists ul li h3 {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0 0 0.5rem 0;
}
footer .footerLists ul li ul {
  display: flex;
  flex-direction: column;
}
footer .footerLists ul li ul li {
  font-size: 0.75rem;
  padding: 0.5rem 0;
  font-weight: 400;
  width: 100%;
}
footer .footerLists ul li ul li h6 {
  margin: 0;
  font-size: 0.75rem;
  font-weight: 400;
  color: #c4c4c4;
}
footer .footerLists ul li ul li form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.25rem;
  width: 100%;
  background-color: #f5f5f5;
  padding: 0.5rem 0.25rem;
}
footer .footerLists ul li ul li form input {
  width: 70%;
  border: none;
  font-size: 0.75rem;
  color: #c4c4c4;
  background-color: #f5f5f5;
}
footer .footerLists ul li ul li form button {
  width: 25%;
  border: none;
  color: #f5f5f5;
  font-weight: 600;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  background-color: #254135;
}
footer .footerLists .footerSquare {
  position: absolute;
  height: 2rem;
  width: 2rem;
  left: 0;
  bottom: 2rem;
}
footer .footerBottom ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
footer .footerBottom ul li {
  display: flex;
  list-style: none;
}
footer .footerBottom ul li p {
  font-weight: 600;
  margin: 0;
  font-size: 0.75rem;
}
footer .footerBottom ul li span {
  font-size: 0.75rem;
}
footer .footerBottom ul li ul {
  display: flex;
  justify-content: space-between;
}
footer .footerBottom ul li ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 0 0 0 1rem;
}
footer .footerBottom ul li ul li svg {
  height: 1rem;
  width: 1rem;
}

.errorPage {
  background-color: #ffffff;
  padding: 2rem 0;
}
.errorPage .wrapper {
  display: flex;
  justify-content: space-between;
}
.errorPage .wrapper .errorPageImage {
  width: 45%;
}
.errorPage .wrapper .errorPageImage img {
  height: 25rem;
}
.errorPage .wrapper .errorPageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  font-size: 1.5rem;
  font-weight: 400;
}
.errorPage .wrapper .errorPageContent h1 {
  margin: 0;
  color: #254135;
}
.errorPage .wrapper .errorPageContent h1 p {
  font-size: 3rem;
  margin: 0;
}
.errorPage .wrapper .errorPageContent h1 span {
  color: #0f1620;
}
.errorPage .wrapper .errorPageContent p {
  font-size: 1rem;
  margin: 2rem 0;
}
.errorPage .wrapper .errorPageContent a {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color: #d2f34c;
  text-decoration: none;
  border-radius: 1rem;
  color: #0f1620;
  width: 100%;
  padding: 0.5rem 1rem;
}
.errorPage .wrapper .errorPageContent a p {
  margin: 0;
  font-size: 1rem;
}
.errorPage .wrapper .errorPageContent a svg {
  height: 1rem;
  width: 1rem;
}

.jobListingHeader {
  height: auto;
  padding: 4rem 0;
}
.jobListingHeader .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.jobListingHeader .wrapper .jobListingContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
.jobListingHeader .wrapper .jobListingContent p {
  padding: 1rem 0;
}
.jobListingHeader .wrapper .jobListFormContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.jobListingJobsSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5rem 0;
}
.jobListingJobsSection .jobListingJobsFilter {
  width: 30%;
}
.jobListingJobsSection .jobListingJobsFilter h3 {
  margin: 0 0 1.5rem 0;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}
.jobListingJobsSection .jobListingJobsFilter form {
  background-color: #e9f2ef;
  padding: 0.75rem 1.5rem;
  border-radius: 1rem;
}
.jobListingJobsSection .jobListingJobsFilter form ul {
  padding: 0;
  margin: 0;
}
.jobListingJobsSection .jobListingJobsFilter form ul li:last-child {
  border-bottom: none;
}
.jobListingJobsSection .jobListingJobsFilter form ul li {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0.75rem 0;
  border-bottom: 1px solid #d2e3db;
}
.jobListingJobsSection .jobListingJobsFilter form ul li svg {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.25rem;
  fill: #f5f5f5;
  background-color: #31795a;
  border-radius: 5rem;
}
.jobListingJobsSection .jobListingJobsFilter form ul li h4 {
  font-family: "Montserrat", sans-serif;
  padding: 1rem 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.jobListingJobsSection .jobListingJobsFilter form ul li h4 .minusButton {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
}
.jobListingJobsSection .jobListingJobsFilter form ul li h4:first-child {
  padding: 0 0 1rem 0;
}
.jobListingJobsSection .jobListingJobsFilter form ul li .jobTypeChecklist {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
}
.jobListingJobsSection .jobListingJobsFilter form ul li .jobTypeChecklist .jobTypeChecklistFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0;
}
.jobListingJobsSection .jobListingJobsFilter form ul li .jobTypeChecklist .jobTypeChecklistFlex span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 5rem;
  background-color: #ffffff;
}
.jobListingJobsSection .jobListingJobsFilter form ul li .jobTypeChecklist .jobTypeChecklistFlex .jobTypeChecklistCheckbox {
  display: flex;
  align-items: center;
}
.jobListingJobsSection .jobListingJobsFilter form ul li .jobTypeChecklist .jobTypeChecklistFlex .jobTypeChecklistCheckbox label {
  padding: 0 0 0 1rem;
}
.jobListingJobsSection .jobListingJobsFilter form ul li .jobTypeCategory {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
}
.jobListingJobsSection .jobListingJobsFilter form ul li .jobTypeCategory .jobTypeChecklistFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;
  padding: 0.25rem 0;
}
.jobListingJobsSection .jobListingJobsFilter form ul li .jobTypeCategory .jobTypeChecklistFlex label {
  padding: 0 0 0 1rem;
}
.jobListingJobsSection .jobListingJobsFilter form ul button {
  background-color: #31795a;
  color: #f5f5f5;
  border: none;
  border-radius: 0.75rem;
  padding: 1rem 0;
  transition: 0.5s;
}
.jobListingJobsSection .jobListingJobsFilter form ul button:hover, .jobListingJobsSection .jobListingJobsFilter form ul button:focus {
  background-color: #254135;
}
.jobListingJobsSection .jobListingJobsList {
  width: 65%;
}
.jobListingJobsSection .jobListingJobsList .jobListingJobsListFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 2rem 0;
}
.jobListingJobsSection .jobListingJobsList .jobListingJobsListFilter .jobListingJobsListFilterLeft {
  width: 50%;
}
.jobListingJobsSection .jobListingJobsList .jobListingJobsListFilter .jobListingJobsListFilterLeft p {
  margin: 0;
  color: #c4c4c4;
}
.jobListingJobsSection .jobListingJobsList .jobListingJobsListFilter .jobListingJobsListFilterLeft p span {
  color: #0f1620;
}
.jobListingJobsSection .jobListingJobsList .jobListingJobsListFilter .jobListingJobsListFilterRight {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.jobListingJobsSection .jobListingJobsList .jobListingJobsListFilter .jobListingJobsListFilterRight label {
  font-size: 0.75rem;
  font-weight: 600;
}
.jobListingJobsSection .jobListingJobsList .jobListingJobsListFilter .jobListingJobsListFilterRight select {
  font-size: 0.75rem;
  border: none;
  border-radius: 5rem;
  padding: 0.25rem 1rem;
}
.jobListingJobsSection .jobListingJobsList .jobListingJobsListFilter .jobListingJobsListFilterRight button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid #c4c4c4;
  border-radius: 5rem;
}
.jobListingJobsSection .jobListingJobsList .jobListingJobsListFilter .jobListingJobsListFilterRight button svg {
  height: 1rem;
  width: 1rem;
  fill: #c4c4c4;
}
.jobListingJobsSection .jobListingJobsList .jobListingJobsListJobs {
  border: 1px solid #c4c4c4;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
}
.jobListingJobsSection .jobListingJobsList .jobListingJobsListJobs ul {
  padding: 0;
}

.jobListingJobsInfoSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.jobListingJobsInfoSection img {
  height: 2.25rem;
  width: 2.25rem;
}

.jobListingJobsInfoSectionLeftContent {
  width: 25%;
}
.jobListingJobsInfoSectionLeftContent h3 {
  margin: 0;
  font-size: 0.75rem;
  color: #00cb74;
  padding: 0.25rem 0;
}
.jobListingJobsInfoSectionLeftContent h2 {
  margin: 0;
  font-size: 1rem;
}

.jobListingJobsInfoSectionMiddleContent {
  width: 20%;
}
.jobListingJobsInfoSectionMiddleContent p {
  font-size: 0.75rem;
  padding: 0.25rem 0;
  margin: 0;
}

.jobListingJobsInfoSectionRightContent {
  display: flex;
  justify-content: space-between;
  width: 22.5%;
}
.jobListingJobsInfoSectionRightContent button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  border-radius: 5rem;
  border: 1px solid #c4c4c4;
  background-color: #f5f5f5;
  transition: 0.5s;
}
.jobListingJobsInfoSectionRightContent button svg {
  height: 1rem;
  width: 1rem;
  fill: #c4c4c4;
  transition: 0.5s;
}
.jobListingJobsInfoSectionRightContent .bookmarkButton {
  height: 2rem;
  width: 2rem;
}
.jobListingJobsInfoSectionRightContent .bookmarkButton:hover, .jobListingJobsInfoSectionRightContent .bookmarkButton:focus {
  background-color: #31795a;
  border: 1px solid #31795a;
}
.jobListingJobsInfoSectionRightContent .bookmarkButton:hover svg, .jobListingJobsInfoSectionRightContent .bookmarkButton:focus svg {
  fill: #f5f5f5;
}
.jobListingJobsInfoSectionRightContent .applyButton {
  background-color: #31795a;
  border: 1px solid #31795a;
  font-weight: 600;
  text-transform: uppercase;
  color: #f5f5f5;
  font-size: 0.75rem;
  padding: 0.25rem 1rem;
}
.jobListingJobsInfoSectionRightContent .applyButton:hover, .jobListingJobsInfoSectionRightContent .applyButton:focus {
  background-color: #f5f5f5;
  color: #0f1620;
  border: 1px solid #c4c4c4;
}

.signUpSection {
  background-color: #e9f2ef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signUpHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #254135;
  width: 100%;
  padding: 5rem 0;
  position: relative;
}
.signUpHeader h1 {
  font-size: 3rem;
  margin: 0;
  color: #f5f5f5;
}
.signUpHeader p {
  color: #f5f5f5;
}
.signUpHeader img {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2rem;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 45%;
  margin: 5rem auto;
  padding: 2rem 0;
  border-radius: 1rem;
}
.signUpForm h2 {
  font-size: 2rem;
  margin-top: 0;
}
.signUpForm .signUpForm1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signUpForm .signUpForm1 fieldset {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-radius: 5rem;
  border: none;
  background-color: #e9f2ef;
  padding: 0;
  margin: 0;
}
.signUpForm .signUpForm1 fieldset input {
  display: none;
}
.signUpForm .signUpForm1 fieldset input:checked + label {
  border: 2px solid #31795a;
  border-radius: 5rem;
  color: #31795a;
  background-color: #ffffff;
}
.signUpForm .signUpForm1 fieldset label {
  padding: 0.5rem 2rem;
}
.signUpForm .signUpForm2 {
  display: flex;
  flex-direction: column;
}
.signUpForm .signUpForm2 label {
  color: #c4c4c4;
  font-size: 0.5rem;
  padding: 0.25rem 0;
}
.signUpForm .signUpForm2 label a {
  color: #31795a;
  text-decoration: none;
  border-bottom: 1px solid #31795a;
}
.signUpForm .signUpForm2 .registerTermAgreement {
  display: flex;
  align-items: center;
}
.signUpForm .signUpForm2 .registerTermAgreement label {
  color: #0f1620;
  padding: 0.25rem;
  font-size: 0.5rem;
}
.signUpForm .signUpForm2 p {
  margin: 0;
  text-align: center;
  font-size: 0.75rem;
}
.signUpForm .signUpForm2 p a {
  color: #31795a;
  text-decoration: none;
  border-bottom: 1px solid #31795a;
}
.signUpForm .signUpForm2 .loginButton {
  margin: 0.75rem 0;
  background-color: #31795a;
  border: 1px solid #31795a;
  border-radius: 0.25rem;
  padding: 0.5rem 0;
  color: #f5f5f5;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
  transition: 0.5s;
}
.signUpForm .signUpForm2 .loginButton:hover, .signUpForm .signUpForm2 .loginButton:focus {
  background-color: #e9f2ef;
  color: #31795a;
}
.signUpForm .signUpForm2 input {
  border-radius: 0.25rem;
  border: 1px solid #0f1620;
}
.signUpForm .signUpForm2 .signUpForm2Padding {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
}
.signUpForm .signUpForm2 .signUpForm2Padding input {
  width: 100%;
  padding: 0.25rem;
}
.signUpForm .signUpForm2 .signUpLines {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 1rem 0;
}
.signUpForm .signUpForm2 .signUpLines img {
  width: 40%;
}
.signUpForm .signUpForm2 .signUpButtons {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.signUpForm .signUpForm2 .signUpButtons button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 45%;
  font-size: 0.75rem;
  padding: 0.5rem 0.75rem;
  background-color: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 0.25rem;
}
.signUpForm .signUpForm2 .signUpButtons button img {
  height: 1rem;
  width: 1rem;
}

.login {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}
.login .loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 35%;
  margin: 5rem auto;
  padding: 2rem 0;
  border-radius: 1rem;
}
.login .loginForm h2 {
  color: #254135;
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
}
.login .loginForm p {
  color: #254135;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  text-align: center;
}
.login .loginForm p a {
  color: #31795a;
  text-decoration: none;
  border-bottom: 1px solid #31795a;
}
.login .loginForm .loginHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login .loginForm .loginHeader h2 {
  font-size: 2rem;
}
.login .loginForm .loginHeader .loginP {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login .loginForm .loginHeader .loginP a {
  font-size: 0.75rem;
  border: none;
  margin-left: 0.5rem;
}
.login .loginForm form {
  display: flex;
  flex-direction: column;
}
.login .loginForm form .signUpFormPadding {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}
.login .loginForm form .signUpFormPadding input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #e9f2ef;
}
.login .loginForm form .signUpFormPadding label {
  color: #c4c4c4;
  font-size: 0.5rem;
  padding: 0.25rem 0;
}
.login .loginForm form .loginP2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c4c4c4;
}
.login .loginForm form .loginP2 a {
  font-size: 0.75rem;
  border: none;
  margin-left: 0.5rem;
  border-bottom: 1px solid #31795a;
}
.login .keepLoggedIn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login .keepLoggedIn label {
  color: #0f1620;
  padding: 0.25rem;
  font-size: 0.75rem;
  font-weight: 600;
}
.login .keepLoggedIn div {
  display: flex;
}
.login .keepLoggedIn a {
  text-decoration: none;
  color: #0f1620;
  font-size: 0.75rem;
}
.login .loginButton {
  margin: 0.75rem 0;
  background-color: #31795a;
  border: 1px solid #31795a;
  border-radius: 0.25rem;
  padding: 0.5rem 0;
  color: #f5f5f5;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
  transition: 0.5s;
}
.login .loginButton:hover, .login .loginButton:focus {
  background-color: #e9f2ef;
  color: #31795a;
  border: 1px solid #31795a;
}
.login .signUpLines {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 1rem 0;
}
.login .signUpLines img {
  width: 40%;
}
.login .signUpButtons {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.login .signUpButtons button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 45%;
  font-size: 0.75rem;
  padding: 0.5rem 0.75rem;
  background-color: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 0.25rem;
}
.login .signUpButtons button img {
  height: 1rem;
  width: 1rem;
}

.pageOptionsModal {
  width: -moz-max-content;
  width: max-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  left: 0;
  top: 2rem;
  background-color: #ffffff;
  z-index: 100;
  border-radius: 0.5rem;
}
.pageOptionsModal ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.75rem 1.5rem 0.75rem 0.5rem;
}
.pageOptionsModal ul li {
  padding: 0.25rem;
}
.pageOptionsModal ul li a {
  text-decoration: none;
  color: #254135;
  border: none;
  font-size: 0.75rem;
}
.pageOptionsModal ul li a:hover, .pageOptionsModal ul li a:focus {
  color: #254135;
  border: none;
}

@media (max-width: 1250px) {
  nav img {
    height: 2rem;
  }
}
@media (max-width: 1180px) {
  nav a {
    font-size: 0.75rem;
  }
  nav button {
    font-size: 0.75rem;
  }
}
@media (max-width: 1025px) {
  nav .categoryButton img {
    height: 1.25rem;
  }
}
@media (max-width: 970px) {
  nav .jobiLogoLight {
    display: none;
  }
  nav .categoryButton {
    display: none;
  }
}
@media (max-width: 800px) {
  nav .navSquiggle {
    display: none;
  }
}
@media (max-width: 730px) {
  .navFirstImagesContainer {
    display: none;
  }
  .navSecondImagesContainer {
    display: none;
  }
}
@media (max-width: 670px) {
  nav ul li {
    padding: 0 0.25rem;
  }
}
@media (max-width: 590px) {
  nav {
    justify-content: flex-end;
    padding-right: 1rem;
  }
  nav .hamburgerMenu {
    display: flex;
    position: fixed;
    justify-content: center;
    align-content: center;
    top: 1rem;
    background-color: #0f1620;
    left: 2rem;
    height: 1.5rem;
    width: 1.5rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    z-index: 1000;
  }
  nav .hamburgerMenu svg {
    fill: #d2f34c;
  }
  nav .navFirstImagesContainer {
    display: flex;
  }
  nav .navFirstImagesContainer .jobiLogoLight {
    display: flex;
    position: absolute;
    width: 4rem;
    height: 1.5rem;
    top: 1rem;
    left: 5rem;
  }
  nav .navAnchors {
    display: none;
  }
  nav ul li {
    padding: 0;
  }
  nav ul li button {
    padding: 0.25rem;
  }
}
@media (max-width: 450px) {
  nav .hamburgerMenu {
    left: 1rem;
  }
  nav .navFirstImagesContainer .jobiLogoLight {
    left: 3rem;
  }
}
@media (max-width: 400px) {
  nav {
    padding: 0.25rem;
  }
  nav .hamburgerMenu {
    top: 2rem;
  }
  nav .navFirstImagesContainer .jobiLogoLight {
    top: 2rem;
    left: 5rem;
  }
  nav .navLoginButtons {
    flex-direction: column-reverse;
  }
  nav .navLoginButtons .line {
    display: none;
  }
  nav .navLoginButtons .loginButton {
    padding-top: 0.75rem;
  }
}
@media (max-width: 1100px) {
  .firstH1 {
    font-size: 2.5rem;
  }
  .secondH1 {
    font-size: 2.5rem;
  }
  header .firstHeaderP {
    font-size: 0.75rem;
    width: 40%;
  }
  header .womanLaptop {
    height: 25rem;
  }
  header .bigLines {
    height: 25rem;
  }
}
@media (max-width: 860px) {
  header form {
    height: 3rem;
  }
  header .womanLaptop {
    height: 20rem;
    top: 4rem;
  }
  header .bigLines {
    height: 20rem;
    top: 2.5rem;
  }
}
@media (max-width: 780px) {
  header form label {
    font-size: 0.5rem;
  }
  header form select {
    font-size: 0.75rem;
  }
}
@media (max-width: 700px) {
  header form {
    width: 100%;
  }
  header .womanLaptop {
    height: 15rem;
    top: 4rem;
  }
  header .bigLines {
    height: 15rem;
    top: 2.5rem;
  }
}
@media (max-width: 655px) {
  header {
    height: 55vh;
  }
  header .firstH1 {
    font-size: 2rem;
  }
  header .secondH1 {
    font-size: 2rem;
  }
  header .formContainer .secondHeaderP {
    font-size: 0.5rem;
  }
  header form {
    height: 2.5rem;
  }
}
@media (max-width: 600px) {
  header form {
    height: 2.5rem;
  }
  header .womanLaptop {
    height: 10rem;
    top: 4rem;
  }
  header .bigLines {
    height: 10rem;
    top: 2.5rem;
  }
}
@media (max-width: 530px) {
  header {
    height: 45vh;
  }
  header h1 {
    width: 100%;
  }
  header .firstHeaderP {
    width: 100%;
  }
  header .womanLaptop {
    display: none;
  }
  header .bigLines {
    display: none;
  }
}
@media (max-width: 500px) {
  header {
    padding-top: 1rem;
    height: -moz-fit-content;
    height: fit-content;
  }
  header .formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header .formContainer form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
  }
  header .formContainer form .searchWhatAreYouLookingFor {
    width: 90%;
  }
  header .formContainer form .searchWhatAreYouLookingFor label {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
  }
  header .formContainer form .searchWhatAreYouLookingFor input {
    background-color: #f2f9d8;
  }
  header .formContainer form .searchCategory {
    width: 90%;
  }
  header .formContainer form .searchCategory label {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
  }
  header .formContainer form .searchCategory select {
    background-color: #f2f9d8;
    text-align: center;
  }
  header .formContainer form img {
    display: none;
  }
  header .formContainer button {
    font-size: 0.75rem;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0.25rem 0.5rem;
    margin: 0.75rem;
    border-radius: 0.25rem;
  }
}
@media (max-width: 1020px) {
  .mostDemandingCategories .demandingCategories ul {
    flex-wrap: wrap;
  }
  .mostDemandingCategories .demandingCategories ul li {
    height: 8rem;
    margin: 0.5rem;
  }
  .mostDemandingCategories .demandingCategories ul li h4 {
    font-size: 0.75rem;
  }
}
@media (max-width: 750px) {
  .mostDemandingCategories {
    padding: 2rem 1.5rem;
  }
  .mostDemandingCategories .mostDemandingCategoriesHeader {
    flex-direction: column;
  }
  .mostDemandingCategories .mostDemandingCategoriesHeader .headerContainer {
    width: 100%;
  }
  .mostDemandingCategories .mostDemandingCategoriesHeader .pContainer {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .mostDemandingCategoriesHeader {
    padding-bottom: 0.25rem;
  }
  .mostDemandingCategoriesHeader .pContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .mostDemandingCategoriesHeader .pContainer p {
    font-size: 0.75rem;
    text-align: center;
  }
  .mostDemandingCategoriesHeader .pContainer a {
    width: -moz-fit-content;
    width: fit-content;
  }
  .mostDemandingCategoriesHeader .headerContainer h2 {
    text-align: center;
  }
  .mostDemandingCategoriesHeader .headerContainer .threeLines {
    right: -1rem;
    top: -2rem;
    height: 2.5rem;
  }
}
@media (max-width: 400px) {
  .mostDemandingCategories .demandingCategories ul li h4 {
    font-size: 0.55rem;
  }
}/*# sourceMappingURL=styles.css.map */